<div>
  <h1>Welcome to Socially Organized</h1>
  <p>Socially Organized is the creatives palatte to plan out their entire editorial calendar.</p>

  <p>Do you work on a team? Great, you can work alongside others on the same calendar!</p>

  <p>Do you want to stay Socially Organized across all social media platforms and e-mail marketing campaigns? If so, Socially Organized is the program for you!</p>
</div>
