<h1 class="center"><%= current_user.name %>'s Calendars</h1>

<div class="well center">

    <% current_user.calendars.each do |calendar| %>
  <h4> <%= link_to calendar.name.titleize, user_calendar_path(@user, calendar) %> </h4>

    <% end %>



</div>

<h3>Do you want to add a new calendar?</h3>
<div class="btn btn-primary btn-md buttons">
  <%= link_to "Create a Calendar", new_user_calendar_path %>
</div>
