<h1><%= current_user.name %>'s Calendars</h1>

<div>

  <h3>Calendar Name</h3>
    <% current_user.calendars.each do |calendar| %>
    <%= link_to calendar.name.titleize, user_calendar_path(@user, calendar) %>

      <h3>Team Members</h3>
      <% calendar.users.each do |user| %>
    <%= user.name %> <br>

      <% end %>

    <% end %>

</div>

<h3>Do you want to add a new calendar?</h3>
<div>
  <%= link_to "Create a Calendar", new_calendar_path, class: "btn btn-info" %>
</div>
