<h1><%= current_user.name %>'s Calendars</h1>

<div>
<% @user.calendars.each do |calendar| %>
  <%= link_to calendar.name.titleize, user_calendar_path(@user, calendar) %>
<% end %>
</div>

<h3>Do you want to add a new calendar?</h3>
<div>
<%= link_to "Create a Calendar", new_calendar_path, class: "btn btn-info" %>
</div>
