<h1>Drafted Posts </h1>
<% @calendars.each do |calendar| %>
  <% calendar.posts.each do |post| %>
    <% !post.finalized%> <%= link_to post.title.titleize, post_path(post) %>
    <% end %>
  <% end %>
