<h1>Drafted Posts </h1>
<% @calendars.each do |calendar| %>
  <h3><%= calendar.name %></h3>
  <% calendar.posts.drafted.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  <% end %>
